<div class="album py-5 bg-light">
  <div class="container">

    <p><%= link_to "Create New Item", new_portfolio_path, type:'button', class:'btn btn-primary'  if logged_in?(:site_admin) %></p>

    <div class="row">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>


