<!-- <header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Joe Nagel</h3>
    <nav class="nav nav-masthead justify-content-center app-nav">
      <%#= nav_helper 'nav-link', 'span' %>
      <%#= login_helper 'nav-link'%>
    </nav>
  </div>
</header> -->

<header class="masthead mb-auto">
	<div class="inner">
    <h3 class="masthead-brand">Joe Nagel</h3>
		<nav class="nav nav-masthead justify-content-center app-nav navbar navbar-expand-lg navbar-light">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		    <%= nav_helper 'nav-link', 'span' %>
		    <%= login_helper 'nav-link'%>
		  </div>
		</nav>
	</div>
</header>