<!-- <div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <%#= nav_helper 'nav-link', 'span' %>
      <%#= login_helper 'nav-link' %>
    </nav>
  </div>
</div> -->

<nav class="blog-masthead navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerBlog" aria-controls="navbarTogglerBlog" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class=" nav blog-nav collapse navbar-collapse" id="navbarTogglerBlog">
  	<%= nav_helper 'nav-link', 'div' %>
    <%= login_helper 'nav-link' %>
  </div>
</nav>