<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">
    	This site was created entirely using rails. Please feel free to explore the features. I have added a lot of features that are admin use only. Let me know, and I will be happy to demonstrate them for you.
  </p>
    <p>
      <%= link_to 'find out more about me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to "This site's code", 'https://github.com/jnagel88/nagel-portfolio-demo', target:'_blank', class: 'btn btn-secondary my-2' %>
    </p>
  </div>
</section>