<h1>About Me</h1>
<hr />
<p>
  After working in the theatre and live entertainment industry for more than a decade, working with clients from the production aspect, from the venue aspect as well as from the designer’s aspect, I have gained a unique perspective on client relations and communications.
</p>
<p>
  Wanting to expand my love of puzzles and logic, I decided to transition to software development to not only explore software development, but to bring my passion for puzzles, logic and communication to others.
</p>

<p>
  In an ever changing industry, you have to be willing to always be a student. And to that end, I spend a good portion of my spare time building projects or reading about new technologies, techniques, and methods in order to always improve my own skills, but to also teach others what I have learned.
</p>
