<h1>Pages#contact</h1>

<!--demo of helper methods from ActionView-->
<p><%= number_to_phone "1231231234" %></p>

<p><%= number_to_currency "1234" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "805432543657" %></p>
