<h1>Would you like to work together?</h1>

<hr />
<div class="row">
  <div class="col-md-6">
    <h3>Address</h3>
    <p>Far North Dallas, Dallas, Tx</p>

    <h3>Phone</h3>
    <p><%= number_to_phone "8174569004" %></p>

    <h3>Email</h3>
    <p><a href="mailto:joe.nagel.18@gmail.com?subject=PortfolioContact">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d37865.96151876163!2d-96.86039905128015!3d32.97978224780074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1527280110520" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>