

<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">As a software developer relatively new to the industry, I have been trained on the latest technologies. </p>
  <p class="lead">
    <%= link_to 'About Me', about_me_path, class:'btn btn-lg btn-secondary' %>
  </p>
</main>


