

<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">As a software developer that transitioned from venue management, I have a unique perspective on functionality from the client/user perspective. </p>
  <p class="lead">
    <%= link_to 'About Me', about_me_path, class:'btn btn-lg btn-secondary' %>
  </p>
</main>


